$shade1:          #000000;
$shade2:          #222222;
$shade3:          #2F2F2F;
$shade4:          #383838;
$shade5:          #444444;
$shade6:          #666666;
$shade7:          #777777;
$shade8:          #999999;
$shade9:          #AAAAAA;
$shade10:         #B8B8B8;
$shade11:         #CCCCCC;
$shade12:         #DDDDDD;
$shade13:         #EEEEEE;
$shade14:         #F5F5F5;
$shade15:         #FAFAFA;
$shade16:         #FFFFFF;

$red:             #FF0000;
$crimson:         #DB0000;
$yellow:          #FCCC00;
$gold:            #FFA852;
$orange:          #F88371;
$green:           #59B200;
$blueLight:       #E5F7FF;
$blue:            #00B0FF;
$blueFaded:       #8CB0D8;
$purple:          #B299FF;
$facebook:        #3B5998;
$facebookLight:   #4B6AAB;
$twitter:         #55ACEE;
$gplus:           #D34836;
$pinterest:       #DB6367;
$error:           #B94A48;